*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Amatic;
    src: url(../images/Amatic_SC/AmaticSC-Bold.ttf);
}

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7vw;
    width: 100%;
    height: 18vh;
    background-color: white;
    
}

nav h1{
    font-size: 40px;
}
nav h1 span{
    color: #cf1313;
}

.links{
    display: flex;
    gap: 2vw;
}
.links a{
    font-size: 20px;
    text-decoration: none;
    color: black;
}
.click-modal{
    padding: 10px 30px ;
    border-radius: 30px;
    background-color: #cf1313;
    color: aliceblue;
    border: none;
}

header{
    width: 100%;
    height: 110vh;
    background-color: #f2f2f2;
    /* background-color: bisque; */
    display: flex;
}

.content-header{
  padding-top: 40vh;
  padding-left: 5vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.content-header h1{
  width: 32vw;
  font-size: 57px;
  font-family: Amatic;
  
}
.content-header p{
    width: 30vw;
    font-size: 20px;
    

    
}
.btn-header{
    display: flex;
    gap: 20px;
    align-items: center;
    /* justify-content: center; */
}
.btn-header button{
    padding: 10px 30px;
    border-radius: 30px;
    font-size: larger;
    font-weight: 600;
    
}
.btn1{
    background-color: #cf1313;
    color: aliceblue;
    border: none;
}


.btn-header i{
    padding-bottom: 10px;
    padding-left: 10px;
   font-size: 37px;
   color: #cf1313;
}
.btn-header p{
    padding-top: 17px;
    font-size: 20px;
    font-weight: 600;
}

.hero-img{
    width: 35vw;
    padding-top: 30vh;
}

.About-Us{
    /* background-color: blue; */
    width: 100%;
    height: 180vh;
    

   
}
.content-aboutus{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vh;
    gap: 10px;
}
.content-aboutus h1{
    font-family: Amatic;
}
.content-aboutus h1 span{
    font-family: Amatic;
    color: #cf1313;
    font-weight: 10px;
}
.About-Us-img{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-top: 10vh;
    padding-inline: 70px;
}
.grid1{
    /* background-color: blueviolet; */
    height: 110vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.grid1 img{
    width: 100%;
    height: 75%;
}
.grid2{
    /* background-color: aquamarine; */
    height: 135vh;
    padding-left: 80px;
}
.border-table{
    width: 100%;
    height: 20%;
    /* background-color: aqua; */
    border: 6px solid gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.border-table h1{
   font-size: 30px;
}
.red-num{
    color: #cf1313;
}

.check div{
    display: flex;
    gap: 10px;
}
.p1{
    width: 34vw;
    font-size: 17px;
    color: #212529;
}
.check div i{
    font-size: 20px;
}
.check div p{
    padding-top: 6px;

}
.para1{
    width: 27vw;
    font-weight: 600;
}
.para2{
    width: 27vw;
    font-weight: 600;
}
.para3{
    width: 32vw;
    font-weight: 600;
}
.lastPara{
    width: 31vw;
    font-weight: 600;
}
.aboutus2{
    width: 85%;
}

.Why-Choose{
    width: 100%;
    height: 90vh;
    background-color: #f2f2f2;
    display: grid;
    grid-template-columns: repeat(4, 30% 21% 21% 21%);
    gap: 25px;
    padding-inline: 70px;
    padding-top: 10vh;
}

.whychoose1{
    background-color: #cf1313;
    height: 90%;
    display: flex;
    flex-direction: column;
    
    /* align-items: center; */
    justify-content: center;
    padding-left: 30px;
    padding-top: 20px;
    padding-right: 30px;
    gap: 10px;
    /* justify-content: space-between; */
}
.whychoose1 h1{
    color: aliceblue;
    font-size: 30px;
    width: 84%;
    font-weight: bold;
    
}
.whychoose1 p{
    width: 103%;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
}
.whychoose1 button{
    width: 15vw;
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    background-color: #d63636;
    color: aliceblue;
    margin-left: 3vw;
    font-weight: 600;
}
.whychoose2{
    /* background-color: aqua; */
    background-color: #ffffff;
    height: 90%;
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.whychoose2 i{
    font-size: 40px;
    color: #cf1313;
    background-color: #fcf2f2;
    border-radius: 50%;
    padding: 20px;
    padding-top: 12px;
    
}
.whychoose2 h2{
    font-size: 20px;
    font-weight: bold;
    width: 75%;
    text-align: center;
    
} 
.whychoose2 p{
    width: 70%;
    font-size: 15px;
}   
.whychoose3{
    /* background-color: blueviolet; */
    background-color: #ffffff;
    height: 90%;
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whychoose3 i{
    font-size: 40px;
    color: #cf1313;
    background-color:#fcf2f2;
    border-radius: 50%;
    padding: 20px;
    padding-top: 12px;
    
}
.whychoose3 h2{
    font-size: 20px;
    font-weight: bold;
    width: 75%;
    text-align: center;
    
} 
.whychoose3 p{
    width: 70%;
    font-size: 15px;
    text-align: center;
}   
.whychoose4{
    /* background-color: bisque; */
    background-color: #ffffff;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    
    height: 90%;
    display: flex;
    gap: 5vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.whychoose4 i{
    font-size: 40px;
    color: #cf1313;
    background-color:#fcf2f2;
    border-radius: 50%;
    padding: 20px;
    padding-top: 12px;
    
}
.whychoose4 h2{
    font-size: 20px;
    font-weight: bold;
    width: 75%;
    text-align: center;
    
} 
.whychoose4 p{
    width: 70%;
    font-size: 15px;
    text-align: center;
}   


